.all{
background:#ADD8E6;
color:green;
width:500px;
margin-top:50px;
margin-button:50px;
margin-left:auto;
margin-right:auto;
display:flex;
justify-content:space-around;
border:2px dotted green;

Padding-top:20px;
Padding-bottom:20px;
Padding-left:10px;
Padding-right:10px;

}

.img{
width:150px;
border:2px dotted green;
}
